<div class="row">
  <div class="small-8 small-centered columns"> 
    <h2>Forgot your password?</h2></br>
</div>

<div class="row">
    <div class="small-7 small-centered columns"> 
<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.button :"Send Me New Password" %></div>
<% end %>

<h6>Hang On, Did You Remember That Password? <%= render "devise/shared/links" %></h6>

</div>
</div>

