<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" type="image/ico" href="http://images6.fanpop.com/image/photos/35400000/BATMAN-the-batman-cartoon-35480331-448-320.jpg"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


    <title><%= content_for?(:title) ? yield(:title) : "adoptir" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header>
      <nav class="top-bar" data-topbar>
        <ul class='title-area'>
         <li class="name">
          <h1 style="font-size:40px;"><a href="/">adoptir</a></h1>
         </li>
        </ul>
        <% if user_signed_in? %>
          <section class="top-bar-section">
           <ul class='right'>
              <li><a href="/markets">Discover</li></a>
              <li><a href="/users/show">Profile</li></a>
                <% if user_signed_in? %>
              <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
                <% else %>
                <% end %>
           </ul>
            <% else %>
            <% end %>
          </section>
      </nav>

    </header>
    <div class="page">

      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
        <%= yield %>
        <%= javascript_include_tag "application" %>
    </div>
  </body>
</html>